<a href="https://colab.research.google.com/github/shakilsustswe/Python-Basic-Following-w3schools/blob/master/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # display " hello world, python "

print("hello world python")
print((3 * 5 * 9 / 3 / 3)) # (/)4*1*1*4>>><<<(*)16/16/16

hello world python
15.0

# Common Properties

In [ ]:
#basic operation

a=4
b=5
print("a+b : ",a+b)
print("a-b : ",a-b)
print("a*b : ",a*b)
print("a/b : ",a/b)

a+b :  9
a-b :  -1
a*b :  20
a/b :  0.8

In [ ]:
#default input as a string
print("Enter a value ")
n=input()
m=input()
print("n+m : ",n+m)

Enter a value
2
3
n+m :  23

In [ ]:
#type casting
print("Enter n value : ")
n=int(input())
print("Enter m value : ")
m=int(input())
print("n+m : ",n+m)

Enter n value :
2
Enter m value :
3
n+m :  5

In [ ]:
#Conditional
print("Enter n : ")
n=int(input())
print("Enter m : ")
m=int(input())
if n>m or n>m:
 print("n greater than m")
elif n==m:
  print("n equal to m")
else:
 print("n less than m")

a = 2
b = 330
print("A") if a > b else print("B")

Enter n :
4
Enter m :
2
n greater than m
B

In [ ]:
#Basic loop
i=0;

for i in range (i,5):
    print(i)


while(i<6):
    i+=1
    print(i)
#If the loop breaks, the else block is not executed.
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

#nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

0
1
2
3
4
5
6
0
1
2
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#string
shakil="ashiqul hasan"
print("initial string : ",shakil)
#length
print(len(shakil))
#slicing
print(shakil[8:13])
#update
shakil="ashiqul hasan shakil"
print(shakil)
#deleting
shakil=shakil[0:8]+shakil[8:13]
print(shakil)

initial string :  ashiqul hasan
13
hasan
ashiqul hasan shakil
ashiqul hasan

In [ ]:
#Functions
def fun(name,email):
  print(name+" "+email)

fun("shakil","ashakil.swe@gmail.com")

#passing addresses
print("passing by reference : ")
def add_fun(*info):
  print(info[1])

add_fun("Shakil","Salman","Raju","Nahid")

#we can pass key=value
print("key value pair :")
def key_value_fun(name,email,phone):
  print(name)

key_value_fun(name="shakil",email="shakil@gmail.com",phone="+880-----")

#If the number of keyword arguments is unknown, add a double ** before the parameter name:
print("** : ")

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

print("default parameter : ")
#default parameter
def default_par(name="shakil"):
 print(name)
default_par()

#passing list
print("passing list: ")
def passing_list(name):
  for x in name:
    print(x)
name=["shakil","raju"]
passing_list(name)

shakil ashakil.swe@gmail.com
passing by reference :
Salman
key value pair :
shakil
** :
His last name is Refsnes
default parameter :
shakil
passing list:
shakil
raju

In [ ]:
#recursion
result ;
def tri_recursion(k):
  global result
  if(k > 0):
    print("Before : " + str(k))
    result = k + tri_recursion(k - 1)
    print("After : " + str(k) + " " + str(result))
    #print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
Before : 6
Before : 5
Before : 4
Before : 3
Before : 2
Before : 1
After : 1 1
After : 2 3
After : 3 6
After : 4 10
After : 5 15
After : 6 21

21

#Python Collection

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
#list with python
shakil=["s","h","a","k","i","l"]
print("Initial List : ")
print(shakil)
#append
shakil.append(" ahamed")
print("after append : ")
print(shakil)
#using index
print("shakil[2] : ",shakil[2])
#duplicate data
shakil.append("age : ")
shakil.append(22)
print(shakil)
#length
print(len(shakil))
#insert
shakil.insert(10 ,"student")
print(shakil)
#remove
shakil.remove("student")
print(shakil)
shakil.clear()
print(shakil)

Initial List :
['s', 'h', 'a', 'k', 'i', 'l']
after append :
['s', 'h', 'a', 'k', 'i', 'l', ' ahamed']
shakil[2] :  a
['s', 'h', 'a', 'k', 'i', 'l', ' ahamed', 'age : ', 22]
9
['s', 'h', 'a', 'k', 'i', 'l', ' ahamed', 'age : ', 22, 'student']
['s', 'h', 'a', 'k', 'i', 'l', ' ahamed', 'age : ', 22]
[]

In [ ]:
#Tuple with python
shakil=("s","h","a","k","i","l")
print("Initial Tuple : ")
print(shakil)
#access using index
print("shakil[2] : ",shakil[2])
#length
print(len(shakil))
print(shakil)
#delete
del shakil

Initial Tuple :
('s', 'h', 'a', 'k', 'i', 'l')
shakil[2] :  a
6
('s', 'h', 'a', 'k', 'i', 'l')

In [ ]:
#set python
shakil={"s","h","a","k","i","l"}
print("Initial Set : ")
print(shakil)

#add
shakil.add(" hasan")
print(shakil)

#length
print(len(shakil))

#update
shakil=set(["shakil","ahamed"])
print(shakil)

#access
for i in shakil:
  print(i)

#remove
shakil.remove("ahamed")
print(shakil)

#pop
shakil=set(["shakil","ahamed"])
shakil.pop()
print(shakil)

#clear
shakil.clear()
print(shakil)

Initial Set :
{'k', 'a', 's', 'h', 'i', 'l'}
{'k', 'a', 's', 'h', 'i', ' hasan', 'l'}
7
{'shakil', 'ahamed'}
shakil
ahamed
{'shakil'}
{'ahamed'}
set()

In [ ]:
# Dictionary

currency = {
  "Bangladesh": "Taka",
  "India": "Ruppe",
  "Pakistan": "Ruppe"
}

print(currency)

print(currency["India"])

#overwrite Duplicate values :
currency = {
  "Bangladesh": "taka",
  "India": "ruppe",
  "Pakistan": "dilham",
  "Pakistan": "ruppe"
}

print(currency)

currency.update({"Bhutan": "ngultrum"})
currency.update({"Nepal" : "rupee"})
currency.pop("Pakistan")
print(currency)

{'Bangladesh': 'Taka', 'India': 'Ruppe', 'Pakistan': 'Ruppe'}
Ruppe
{'Bangladesh': 'taka', 'India': 'ruppe', 'Pakistan': 'ruppe'}
{'Bangladesh': 'taka', 'India': 'ruppe', 'Bhutan': 'ngultrum', 'Nepal': 'rupee'}

# Python List

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]
list1 = [x.upper() for x in fruits]


print(newlist)
print(list1)

['hello', 'hello', 'hello', 'hello', 'hello']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

Sort the list descending:

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)
print(thislist.index(50))

[100, 82, 65, 50, 23]
3

In [ ]:
#Customize sort
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
#Case ways
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
#reverse
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
#copy vs list1=list2
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
thislist.append("shakil")
print(mylist)

In [ ]:
#extend list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

# Python Tuples

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
thistuple = ("apple", "banana", "cherry","cherry")

print(thistuple)

('apple', 'banana', 'cherry', 'cherry')

In [ ]:
#Range in Tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
#Update Tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#Unpacking a Tuple
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
#Loop
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
#Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

# Python Sets

Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
#Remove duplicate entry
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#True==1
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
#Check banana in thisset
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
#Remove a random item by using the pop() method:

thisset = {"apple",  "cherry","banana"}

x = thisset.pop()

print(x)

print(thisset)
#Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

banana
{'cherry', 'apple'}

In [ ]:
#Loop
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)


set1.update(set2)
print(set1)

{'b', 'c', 1, 2, 3, 'a'}
{'b', 'c', 1, 2, 3, 'a'}

In [ ]:
#intersection
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# Python Dictionaries

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)
print(len(thisdict))
print(type(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
4
<class 'dict'>

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
y = thisdict.get("model")
print(x)
print(y)
print(thisdict.keys()
)

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])

In [ ]:
#Change item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [ ]:
#Add new item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#pop item
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964, 'color': 'red'}

In [ ]:
#clear
thisdict.clear()
print(thisdict)

{}

In [ ]:
#loop && formate
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

for indx in thisdict:
  get_thisdict="{} is {}"
  print(get_thisdict.format(indx,thisdict[indx]))
print(len(thisdict))

for x, y in thisdict.items():
  print(x, y)

brand is Ford
model is Mustang
year is 1964
color is red
4
brand Ford
model Mustang
year 1964
color red

In [ ]:
#dict constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#Copy
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
#Access
print(myfamily["child2"]["name"])

Tobias

# Basic Practices

In [ ]:
def main():
    str_input = input().strip()

    count1 = count2 = 0

    for i in range(1, len(str_input)):
        if str_input[0] >= 'a':
            if str_input[i] <= 'Z':
                count1 += 1
        else:
            if str_input[i] <= 'Z':
                count2 += 1

    if len(str_input) == 1:
        str_input = str_input.lower() if str_input[0] <= 'Z' else str_input.upper()
        print(str_input)
        return

    if count1 == (len(str_input) - 1):
        str_input = str_input[0].upper() + str_input[1:].lower()
    elif count2 + 1 == len(str_input):
        str_input = str_input.lower()

    print(str_input)

if __name__ == "__main__":
    main()

nhjh
nhjh

In [ ]:
#noraml function

def myFun():
      return 'shakil'
if myFun():
  print("True value")
else :
  print("False value")


x = 200;
print(isinstance(x, float)); #check x type